.LImenu {
    position: relative;
    display: inline-block;
}

.ULsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.LImenu:hover > .ULsubmenu,
.LIsubmenu:hover > .ULsubmenu {
    display: block;
}