* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    

    #fondo {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    main {
        position: absolute;
        top: 0;
        left: 73%;
        top: 40%;
        margin-top: 120px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        border: solid #AAA 4px;
        backdrop-filter: blur(15px);
        box-shadow: 6px 8px 34px black;

        #FormInicioSesion {
            width: 400px;
            height: 420px;
            padding: 40px 30px;
            
            h2{
                text-align: center;
                height: 50px;
                margin-bottom: 30px;
                border-bottom: solid #AAA 2px;
                font-size: 27px;
            }

            .controls {
                width: 100%;
                border: solid #AAA 1px;
                margin-bottom: 15px;
                padding: 11px 10px;
                font-size: 15px;
                font-weight: bold;
            }

            .buttons {
                width: 100%;
                height: 40px;
                background: #AAA;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 15px;
            }

            input {
                border-radius: 7px;
            }

            input:focus {
                outline: solid 2px #DDD;
                outline-offset: 1px;
            }

            p {
                height: 40px;
                text-align: center;
                font-size: 16px;
                
                a {
                    color: white;
                    text-decoration: none;
                    font-size: clamp();
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }

        #FormRegistro {
            width: 400px;
            height: 380px;
            padding: 40px 30px;
            
            h2{
                text-align: center;
                height: 60px;
                margin-bottom: 30px;
                border-bottom: solid #AAA 2px;
                font-size: 27px;
            }

            .controls {
                width: 100%;
                border: solid #AAA 1px;
                margin-bottom: 15px;
                padding: 11px 10px;
                font-size: 15px;
                font-weight: bold;
            }

            .buttons {
                width: 100%;
                height: 40px;
                background: #AAA;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 15px;
            }

            input {
                border-radius: 7px;
            }
            input:focus {
                outline: solid 2px #DDD;
                outline-offset: 1px;
            }

            input:focus:valid{
                background: url(../images/Verificacion/tick.webp) no-repeat 98% center;
                background-size: 25px;   
                background-color: #FFF;
            }
            input:focus:invalid{
                background: url(../images/Verificacion/cross.webp) no-repeat 98% center;
                background-size: 25px;
                background-color: #FFF;
            }
            /*
                    ARREGLAR AL DAR A ENVIAR, SALE EL TICK
            input:focus:valid:not(#enviar) {
                background: url(../images/Verificacion/tick.webp) no-repeat 98% center;

            }
            */
            p {
                height: 40px;
                text-align: center;
                font-size: 18px;
                
                a {
                    color: white;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}